{% set asset = __SELF__.asset %}

<div class="container">
  <div id="flashMessage">
    {% partial __SELF__ ~ '::flash' %}
  </div>
  <div class="panel panel-default" id="assetDetails">
    {% if __SELF__.action in ['create', 'update'] %}
      {{ form_open() }}
      {{ form.formRender()|raw }}

      <div class="form-buttons">
        <div class="loading-indicator-container">
            <button
                type="submit"
                data-request="on{{ __SELF__.action|capitalize }}Asset"
                class="btn btn-primary">
                {{ 'Save'|trans_label }}
            </button>
            <a href="{{ __SELF__.stockListPage |page }}" class="text-danger">
              {{'Cancel'|trans_label}}
            </a>
        </div>
      </div>
      {{ form_close() }}
    {% elseif __SELF__.action in ['view'] %}
      {% partial __SELF__ ~ '::' ~ __SELF__.action asset=__SELF.asset %}
    {% endif %}
  </div>
</div>