{% set asset = __SELF__.asset %}

    <div class="panel-heading">
      <h3 class="panel-title">{{ asset.title }}
        <button
            type="button"
            class="btn btn-xs btn-danger pull-right col-sm-offset-1"
            data-request="onDeleteAsset"
            data-request-confirm="{{ 'piratmac.smmm::lang.messages.confirm_deletion'|trans }}">
            {{ 'Delete'|trans_label }}
        </button>


        <a href="{{ ''| page({action: 'update' }) }}" class="btn btn-xs btn-primary pull-right col-sm-offset-1">Manage</a>
      </h3>
    </div>
    <div class="row">
      <div class="col-md-3 col-md-offset-1">
        Code:
        {{ asset.id }}
      </div>
      <div class="col-md-2 col-md-offset-1">
        Source:
        {{ asset.source }}
      </div>
      <div class="col-md-2 col-md-offset-1">
        Type:
        {{ asset.type }}
      </div>

    </div>

    <div class="panel-heading">
      <h3 class="panel-title">Value history
      </h3>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <table class="table table-striped">
          <tr>
            <th>
              Date
            </th>
            <th>
              Value
            </th>
          </tr>
          {% for value in asset.valueHistory %}
          <tr>
            <td>
              {{ value.date }}
            </td>
            <td class="text-right">
              {{ value.value|number_format_price }}
            </td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
