{% set asset = __SELF__.asset %}

    <div class="panel-heading">
      <h3 class="panel-title">{{ asset.title }}
        <button
            type="button"
            class="btn btn-xs btn-danger pull-right col-sm-offset-1"
            data-request="onDeleteAsset"
            data-request-confirm="{{ 'piratmac.smmm::lang.messages.confirm_deletion'|trans }}">
            {{ 'Delete'|trans_label }}
        </button>


        <a href="{{ ''| page({action: 'update' }) }}" class="btn btn-xs btn-primary pull-right col-sm-offset-1">Manage</a>
      </h3>
    </div>
    <div class="row">
      <div class="col-md-3 col-md-offset-1">
        <div class="col-md-12 text-center">
          {{ 'basic_information'|trans_label }}
        </div>
        <div class="col-md-8">
          {{ 'code'|trans_label }}:
        </div>
        <div class="col-md-4">
          {{ asset.id }}
        </div>
        <div class="col-md-8">
          {{ 'source'|trans_label }}:
        </div>
        <div class="col-md-4">
          {{ asset.source }}
        </div>
        <div class="col-md-8">
          {{ 'type'|trans_label }}:
        </div>
        <div class="col-md-4">
          {{ ('piratmac.smmm::lang.dropdowns.asset.type.' ~ asset.type) |trans }}
        </div>
        <div class="col-md-8">
          {{ 'synced'|trans_label }}:
        </div>
        <div class="col-md-4">
          {{ asset.synced ? 'Yes'|trans_label : 'No'|trans_label }}
        </div>
      </div>

      <div class="col-md-4 col-md-offset-3">
        <div class="col-md-12 text-center">
          {{ 'value_evolution'|trans_label }}
        </div>
        <div class="col-md-3 col-md-offset-6">
          {{ 'value'|trans_label }}
        </div>
        <div class="col-md-3">
          {{ 'value_evolution'|trans_label }}
        </div>
      {% for date, performanceHistory in asset.performanceHistory %}
        <div class="col-md-6">
          {{ date | trans_label }}
        </div>
        <div class="col-md-3">
          {{ performanceHistory.value | number_format_amount }}
        </div>
        <div class="col-md-3 text-right">
          {{ performanceHistory.evolution | number_format_evolution('%') }}
        </div>
      {% endfor %}
      </div>
    </div>

    <div class="panel-heading">
      <h3 class="panel-title col-md-2" style="padding:7px;">{{ 'value_history'|trans_label }}
      </h3>
      <form
        data-request="onGetAssetValues"
        data-request-update="'{{ __SELF__ }}::listValues': '#listValues'"
      >
        <div class="row">
          <div class="col-md-1 text-right" style="padding:5px;">
            <label for="valueHistory_datefrom">
              {{ 'date_from' | trans_label }}
            </label>
          </div>
          <div class="col-md-2">
            <div id="DatePicker-formDate-date" class="field-datepicker" data-control="datepicker">
              <div class="input-with-icon right-align">
                <i class="icon icon-calendar-o"></i>
                <input id="valueHistory_datefrom" name="valueHistory_datefrom" value="{{ '1 month ago'|date('Y-m-d') }}" class="form-control align-right" autocomplete="off" type="text">
              </div>
            </div>
          </div>
          <div class="col-md-1 text-right" style="padding:5px;">
            <label for="valueHistory_dateto">
              {{ 'date_to' | trans_label }}
            </label>
          </div>
          <div class="col-md-2">
            <div id="DatePicker-formDate-date" class="field-datepicker" data-control="datepicker">
              <div class="input-with-icon right-align">
                <i class="icon icon-calendar-o"></i>
                <input id="valueHistory_dateto" name="valueHistory_dateto" value="{{ 'now'|date('Y-m-d') }}" class="form-control align-right" autocomplete="off" type="text">
              </div>
            </div>
          </div>
          <div class="col-md-2 col-md-offset-1">
            <button
                type="submit"
                class="btn btn-xs btn-primary"
                >
                {{ 'display'|trans_label }}
            </button>
          </div>
        </div>
      </form>
    </div>


    <div id="listValues">
    {% partial __SELF__ ~ '::listValues' asset=__SELF__.asset %}
    </div>

