{% set asset = __SELF__.asset %}

    <div class="panel-heading">
      <h3 class="panel-title">{{ asset.title }}
        <button
            type="button"
            class="btn btn-xs btn-danger pull-right col-sm-offset-1"
            data-request="onDeleteAsset"
            data-request-confirm="{{ 'piratmac.smmm::lang.messages.confirm_deletion'|trans }}">
            {{ 'Delete'|trans_label }}
        </button>


        <a href="{{ ''| page({action: 'update' }) }}" class="btn btn-xs btn-primary pull-right col-sm-offset-1">Manage</a>
      </h3>
    </div>
    <div class="row">
      <div class="col-md-3 col-md-offset-1">
        {{ 'code'|trans_label }}:
        {{ asset.id }}
      </div>
      <div class="col-md-2">
        {{ 'source'|trans_label }}:
        {{ asset.source }}
      </div>
      <div class="col-md-2 col-md-offset-1">
        {{ 'type'|trans_label }}:
        {{ ('piratmac.smmm::lang.dropdowns.asset.type.' ~ asset.type) |trans }}
      </div>
      <div class="col-md-2">
        {{ 'synced'|trans_label }}:
        {{ asset.synced ? 'Yes'|trans_label : 'No'|trans_label }}
      </div>

    </div>



    {% if asset.valueHistory.count == 0 %}
    <table class="table-striped table">
      <tr>
        <th colspan="3">
          {{ 'piratmac.smmm::lang.messages.no_value_history'|trans }}
        </th>
      </tr>
    </table>
    {% else %}
    {% for value in asset.valueHistory %}
    {% if loop.first %}


    <div class="panel-heading">
      <h3 class="panel-title">{{ 'value_history'|trans_label }}
      </h3>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <form
          data-request="{{ __SELF__}}::onAddAssetValue"
        >
          <table class="table table-striped">
            <tr>
              <th>
                {{ 'date'|trans_label }}
              </th>
              <th>
                {{ 'value'|trans_label }}
              </th>
              <th>
              </th>
            </tr>
            <tr>
              <td>
                <input type="text" id="newValue[date]" name="newValue[date]" class="form-control" value="" />
              </td>
              <td>
                <input type="text" id="newValue[value]" name="newValue[value]" class="form-control pull-left" value="" style="width:70%;" />
              </td>
              <td>
                <button
                  type="submit"
                  class="btn btn-xs pull-right"
                  style="background:none"
                  data-request="onAddAssetValue">
                    <img src="{{ (__SELF__.imageFolder ~ '/tick.png')|app}}" alt="{{ 'confirm'|trans_label }}" class="image_circle" width="25px" height="25x" />
                </button>


              </td>
            </tr>
      {% endif %}
            <tr>
              <td>
                {{ value.date }}
              </td>
              <td class="text-right">
                {{ value.value|number_format_price }}
              </td>
              <td class="text-right">
                <button
                  type="button"
                  class="btn btn-xs pull-right"
                  style="background:none"
                  data-request="onDeleteAssetValue"
                  data-request-data="date: '{{ value.date }}'"
                  data-request-confirm="{{ 'piratmac.smmm::lang.messages.confirm_deletion'|trans }}">
                    <img src="{{ (__SELF__.imageFolder ~ '/denied.png')|app}}" alt="{{ 'delete'|trans_label }}" class="image_circle" width="25px" height="25x" />
                </button>
              </td>
            </tr>
      {% if loop.last and asset.valueHistory.render|raw|length > 0 %}

            <tr>
              <td colspan="2" class="text-center">
                {{ asset.valueHistory.render|raw }}
              </td>
            </tr>
      {% endif %}
      {% if loop.last %}
          </table>
        </form>
      </div>
    </div>
      {% endif %}
    {% endfor %}
    {% endif %}
