        <tbody>
        {% if __SELF__.assetList.count == 0 %}
          <tr>
            <th>
              {{ 'piratmac.smmm::lang.messages.no_asset'|trans }}
            </th>
          </tr>
        {% else %}
        {% for asset in __SELF__.assetList %}
        {% if loop.first %}



          <tr>
            <th>{{ 'title'|trans_label }}</th>
            <th>{{ 'code'|trans_label }}</th>
            <th>{{ 'type'|trans_label }}</th>
            <th>{{ 'source'|trans_label }}</th>
            <th></th>
          </tr>
          {% endif %}
          <tr>
            <td>
              {% if asset.type != 'cash' %}
              <a href="{{ asset.url_view }}">
                {{ asset.title }}
              </a>
              {% else %}
                {{ asset.title }}
              {% endif %}
            </td>
            <td>{{ asset.id }}</td>
            <td>{{ ('piratmac.smmm::lang.dropdowns.asset.type.' ~ asset.type) |trans  }}</td>
            <td>
              {% if asset.source != '' %}
              {{ ('piratmac.smmm::lang.dropdowns.asset.source.' ~ asset.source) |trans  }}
              {% endif %}
            </td>
            <td style="padding:6px">
              {% if asset.type != 'cash' %}
              <a href="{{ asset.url_view }}">
                <img src="{{ (__SELF__.imageFolder ~ '/magnifyingglass.png')|app}}" alt="{{ 'details'|trans_label }}" class="image_circle" width="25px" height="25x" />
              </a>
              <a href="{{ asset.url_update }}">
                <img src="{{ (__SELF__.imageFolder ~ '/compose.png')|app}}" alt="{{ 'manage'|trans_label }}" class="image_circle" width="25px" height="25x" />
              </a>
              {% endif %}
            </td>
          </tr>
          {% if loop.last %}
          <tr>
            <td colspan="5" class="text-center">
              {{ __SELF__.assetList.render|raw }}
            </td>
          </tr>
        </tbody>
        {% endif %}
        {% endfor %}
        {% endif %}