{% set portfolio = __SELF__.portfolio %}

    <div class="panel-heading">
      <h3 class="panel-title">{{ portfolio.description }}
      </h3>
    </div>
    <div class="row">
      <div class="col-md-2 col-md-offset-2">
        Opened on:
        {{ portfolio.open_date }}
      </div>

      <div class="col-md-2">
        Closed on:
        {{ portfolio.close_date }}
      </div>

      <div class="col-md-2">
        Broker:
        {{ portfolio.broker }}
      </div>

      <div class="col-md-2">
        Number:
        {{ portfolio.number }}
      </div>
    </div>


    <div class="panel-heading">
      You are about to delete this portfolio.<br />Are you sure ?
      {{ form_model(portfolio, {'data-request': 'onDeletePortfolio'}) }}
      {{ form_hidden('id') }}

          {{ form_submit('Confirm deletion', {'class': 'btn btn-danger'}) }}
          <a href="{{ '' | page ({action: 'view'}) }}">
            Cancel
          </a>
      {{ form_close() }}
    </div>

