{% set portfolio = __SELF__.portfolio %}

    <div class="panel-heading">
      <h3 class="panel-title">{{ portfolio.description }}
        <button
            type="button"
            class="btn btn-xs btn-danger pull-right col-sm-offset-1"
            data-request="onDeletePortfolio"
            data-request-confirm="{{ 'piratmac.smmm::lang.messages.confirm_deletion'|trans }}">
            {{ 'Delete'|trans_label }}
        </button>

        <a href="{{ ''| page({action: 'update' }) }}" class="btn btn-xs btn-primary pull-right col-sm-offset-1">Manage</a>
      </h3>
    </div>
    <div class="row">
      <div class="col-md-2 col-md-offset-2">
        Opened on:
        {{ portfolio.open_date }}
      </div>

      <div class="col-md-2">
        Closed on:
        {{ portfolio.close_date }}
      </div>

      <div class="col-md-2">
        Broker:
        {{ portfolio.broker }}
      </div>

      <div class="col-md-2">
        Number:
        {{ portfolio.number }}
      </div>
    </div>
{#

{# Navigation tab headers #}
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#contents" aria-controls="contents" role="tab" data-toggle="tab">Contents</a></li>
      <li role="presentation"><a href="#movements" aria-controls="movements" role="tab" data-toggle="tab">Movements</a></li>
      <li role="presentation"><a href="#createMovement" aria-controls="createMovement" role="tab" data-toggle="tab">Arbitration</a></li>
    </ul>

{# Contents tab #}

    <div class="tab-content">
      <div role="tabpanel" class="tab-pane" id="contents">
        <table class="table-striped table">
          <tr>
            <th colspan="4">
              Contents
            </th>
          </tr>
          <tr>
            <th>
              Asset
            </th>
            <th class="text-right">
              Count
            </th>
            <th class="text-right">
              Average buy price
            </th>
            <th class="text-right">
              Total buy price
            </th>
          </tr>

          {% for heldAsset in portfolio.contents if heldAsset.type != 'cash' %}
          <tr>
            <td>
              <a href="{{ heldAsset.url_view }}">
                {{ heldAsset.title }} ({{ heldAsset.id }})
              </a>
            </td>
            <td class="text-right">
              {{ heldAsset.pivot.asset_count|number_format_count }}
            </td>
            <td class="text-right">
              {{ heldAsset.pivot.average_price_tag|number_format_price }}
            </td>
            <td class="text-right">
              {{ heldAsset.pivot.totalBuyPrice|number_format_amount }}
            </td>
          </tr>
          {% endfor %}


        <tr>
          <th colspan="3" class="text-right">
            Assets
          </th>
          <th class="text-right">
            {{ portfolio.balance.asset|number_format_amount }}
          </th>
        </tr>
        <tr>
          <th colspan="3" class="text-right">
            Bonds
          </th>
          <th class="text-right">
            {{ portfolio.balance.bond|number_format_amount }}
          </th>
        </tr>
        <tr>
          <th colspan="3" class="text-right">
            Cash
          </th>
          <th class="text-right">
            {{ portfolio.balance.cash|number_format_amount }}
          </th>
        </tr>
        <tr>
          <th colspan="3" class="text-right">
            Total
          </th>
          <th class="text-right">
            {{ portfolio.balance.total|number_format_amount }}
          </th>
        </tr>
        </table>
      </div>


{# Movements tab #}

      <div role="tabpanel" class="tab-pane" id="movements">
        <table class="table-striped table">
          <tr>
            <th colspan="5">
              Movements
            </th>
          </tr>
          <tr>
            <th>
              Asset
            </th>
            <th>
              Type
            </th>
            <th>
              Date
            </th>
            <th class="text-right">
              Count
            </th>
            <th class="text-right">
              Unit value
            </th>
            <th class="text-right">
              Fee
            </th>
          </tr>

          {% for movement in portfolio.movements %}
          <tr>
            <td>
              {% if movement.asset.title == '' %}
              {{ 'piratmac.smmm::lang.dropdowns.asset.type.cash'|trans }}
              {% else %}
              <a href="{{ movement.asset.url_view }}">
                {{ movement.asset.title }}
              </a>
              {% endif %}
            </td>
            <td>
              {{ ('piratmac.smmm::lang.dropdowns.movement.type.' ~ movement.type) |trans  }}
            </td>
            <td>
              {{ movement.date }}
            </td>
            <td class="text-right">
              {{ movement.asset_count|hide_if_zero }}
            </td>
            <td class="text-right">
              {{ movement.unit_value|hide_if_zero }}
            </td>
            <td class="text-right">
              {{ movement.fee|hide_if_zero }}
            </td>
          </tr>
          {% endfor %}
        </table>
      </div>


{# New movement tab #}
      <div role="tabpanel" class="tab-pane active" id="createMovement">
        {{ form_open() }}
        {{ formPortfolioMovement.formRender()|raw }}

        <div class="form-buttons">
          <div class="loading-indicator-container">
              <button
                  type="submit"
                  data-request="onCreateMovement"
                  class="btn btn-primary">
                  {{ 'Save'|trans_label }}
              </button>
              <a href="{{ __SELF__.portfolioListPage |page }}" class="text-danger">
                {{'Cancel'|trans_label}}
              </a>
          </div>
        </div>
        {{ form_close() }}

      </div>





{# Closing div for tabs #}

    </div>