{% set portfolio = __SELF__.portfolio %}

    <div class="panel-heading">
      <h3 class="panel-title">{{ portfolio.description }}
        <button
            type="button"
            class="btn btn-xs btn-danger pull-right col-sm-offset-1"
            data-request="onDeletePortfolio"
            data-request-confirm="{{ 'piratmac.smmm::lang.messages.confirm_deletion'|trans }}">
            {{ 'Delete'|trans_label }}
        </button>

        <a href="{{ ''| page({action: 'update' }) }}" class="btn btn-xs btn-primary pull-right col-sm-offset-1">
          {{ 'manage'|trans_label }}
        </a>
      </h3>
    </div>
    <div class="row">
      <div class="col-md-3 col-md-offset-1">
        <div class="col-md-12 text-center">
          {{ 'basic_information'|trans_label }}
        </div>
        <div class="col-md-8">
          {{ 'opened_on'|trans_label }}:
        </div>
        <div class="col-md-4">
          {{ portfolio.open_date }}
        </div>
        <div class="col-md-8">
          {{ 'closed_on'|trans_label }}:
        </div>
        <div class="col-md-4">
          {{ portfolio.close_date }}
        </div>
        <div class="col-md-8">
          {{ 'broker'|trans_label }}:
        </div>
        <div class="col-md-4">
          {{ portfolio.broker }}
        </div>
        <div class="col-md-8">
          {{ 'number'|trans_label }}:
        </div>
        <div class="col-md-4">
          {{ portfolio.number }}
        </div>
      </div>

      <div class="col-md-5 col-md-offset-2">
        <div class="col-md-12 text-center">
          {{ 'summary'|trans_label }}
        </div>


        <div class="col-md-5">
          {{ 'total_deposits'|trans_label }}:
        </div>
        <div class="col-md-4 text-right">
          {{ portfolio.results.total_deposits|number_format_amount }} {{ portfolio.base_currency.title }}
        </div>
        <div class="col-md-5">
          {{ 'total_withdrawals'|trans_label }}:
        </div>
        <div class="col-md-4 text-right">
          {{ portfolio.results.total_withdrawals|number_format_amount }} {{ portfolio.base_currency.title }}
        </div>

        <div class="col-md-5">
          {{ 'expected_gain'|trans_label }}:
        </div>
        <div class="col-md-4 text-right">
          {{ portfolio.results.expected_gain.amount|number_format_evolution('') }} {{ portfolio.base_currency.title }}
        </div>
        <div class="col-md-3 text-right">
          {{ portfolio.results.expected_gain.percent|number_format_evolution('%') }}
        </div>
        <div class="col-md-5">
          {{ 'actual_gain'|trans_label }}:
        </div>
        <div class="col-md-4 text-right">
          {{ portfolio.results.actual_gain.amount|number_format_evolution('') }} {{ portfolio.base_currency.title }}
        </div>
        <div class="col-md-3 text-right">
          {{ portfolio.results.actual_gain.percent|number_format_evolution('%') }}
        </div>


      </div>
    </div>











{#

{# Navigation tab headers #}
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
        <a href="#contents" aria-controls="contents" role="tab" data-toggle="tab">
          {{ 'contents'|trans_label }}
        </a>
      </li>
      <li role="presentation">
        <a href="#movements" aria-controls="movements" role="tab" data-toggle="tab">
          {{ 'movements'|trans_label }}
        </a>
      </li>
      <li role="presentation">
        <a href="#createMovement" aria-controls="createMovement" role="tab" data-toggle="tab">
          {{ 'arbitration'|trans_label }}
        </a>
      </li>
    </ul>

{# Contents tab #}

    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="contents">
        <table class="table-striped table">
          <tr>
            <th>
              {{ 'asset'|trans_label }}
            </th>
            <th class="text-right">
              {{ 'asset_count'|trans_label }}
            </th>
            <th class="text-right">
              {{ 'average_buy_price'|trans_label }}
            </th>
            <th class="text-right">
              {{ 'unit_value'|trans_label }}
            </th>
            <th class="text-right">
              {{ 'value_as_of'|trans_label }}
            </th>
            <th class="text-right">
              {{ 'total_buy_price'|trans_label }}
            </th>
            <th class="text-right">
              {{ 'value'|trans_label }}
            </th>
          </tr>


  {% for assetType in ['stock', 'bond', 'mixed', 'cash'] %}
    {% for heldAsset in portfolio.contents if heldAsset.type == assetType and heldAsset.pivot.asset_count != 0 %}
        {% if loop.first %}
          <tr>
            <th colspan="4">
              {{ assetType|trans_label }}
            </th>
            <th class="text-right">
              <i class="text-muted">
              {{ 'subtotal'|trans_label }}
              </i>
            </th>
            <th class="text-right">
              {{ portfolio.moneyInvested[assetType]|number_format_amount }}
            </th>
            <th class="text-right">
              {{ portfolio.balance[assetType]|number_format_amount }}
            </th>
          </tr>
        {% endif %} {# End of first loop #}
          <tr>
            <td>
              <a href="{{ heldAsset.url_view }}">
                {{ heldAsset.title }} ({{ heldAsset.id }})
              </a>
            </td>
            <td class="text-right">
              {{ heldAsset.pivot.asset_count|number_format_count }}
            </td>
            <td class="text-right">
              {{ heldAsset.pivot.average_price_tag|number_format_amount }}
            </td>
            <td class="text-right">
              {{ heldAsset.pivot.unitValue|number_format_amount }}
            </td>
            <td class="text-right">
              {{ heldAsset.pivot.valueDate }}
            </td>
            <td class="text-right">
              {{ heldAsset.pivot.totalBuyPrice|number_format_amount }}
            </td>
            <td class="text-right">
              {{ heldAsset.pivot.totalValue|number_format_amount }}
            </td>
          </tr>
    {% endfor %}  {# Asset looping #}
  {% endfor %}   {# Asset type looping #}
        <tr>
          <th colspan="5" class="text-right">
            {{ 'total'|trans_label }}
          </th>
            <th class="text-right">
              {{ portfolio.moneyInvested.total|number_format_amount }}
            </th>
          <th class="text-right">
            {{ portfolio.balance.total|number_format_amount }}
          </th>
        </tr>
        </table>
      </div>


{# Movements tab #}

      <div role="tabpanel" class="tab-pane" id="movements">
        {% if portfolio.movements.count == 0 %}
        <table class="table-striped table">
          <tr>
            <th>
              {{ 'piratmac.smmm::lang.messages.no_movement'|trans }}
            </th>
          </tr>
        </table>
        {% else %}
        {% for movement in portfolio.movements %}
        {% if loop.first %}
        <table class="table-striped table">
          <tr>
            <th colspan="8">
              {{ 'movements'|trans_label }}
            </th>
          </tr>
          <tr>
            <th>
              {{ 'asset'|trans_label }}
            </th>
            <th>
              {{ 'type'|trans_label }}
            </th>
            <th>
              {{ 'date'|trans_label }}
            </th>
            <th class="text-right">
              {{ 'asset_count'|trans_label }}
            </th>
            <th class="text-right">
              {{ 'unit_value'|trans_label }}
            </th>
            <th class="text-right">
              {{ 'cash_balance'|trans_label }}
            </th>
            <th class="text-right">
              {{ 'delete'|trans_label }}
            </th>
          </tr>
        {% endif %}

          <tr>
            <td>
              {% if movement.asset.url_view == '' %}
                {{ movement.asset.title }}
              {% else %}
              <a href="{{ movement.asset.url_view }}">
                {{ movement.asset.title }}
              </a>
              {% endif %}
            </td>
            <td>
              {{ ('piratmac.smmm::lang.dropdowns.movement.type.' ~ movement.type) |trans  }}
            </td>
            <td>
              {{ movement.date }}
            </td>
            <td class="text-right">
              {{ movement.asset_count|hide_if_zero }}
            </td>
            <td class="text-right">
              {{ movement.unit_value|hide_if_zero }}
            </td>
            <td class="text-right">
              {{ movement.cashBalance|number_format_amount }}
            </td>
            <td class="text-right">
              <button
                type="button"
                class="btn btn-xs pull-right col-sm-offset-1"
                style="background:none"
                data-request="onDeleteMovement"
                data-request-data="movement_id: {{ movement.id }}"
                data-request-confirm="{{ 'piratmac.smmm::lang.messages.confirm_deletion'|trans }}">
                  <img src="{{ (__SELF__.imageFolder ~ '/denied.png')|app}}" alt="{{ 'delete'|trans_label }}" class="image_circle" width="25px" height="25x" />
              </button>
            </td>
          </tr>
        {% if loop.last and portfolio.movements.fragment('movements').render|raw|length >0  %}
          <tr>
            <td colspan="8" class="text-center">
              {{ portfolio.movements.fragment('movements').render|raw }}
            </td>
          </tr>
        {% endif %}
        {% if loop.last %}
        </table>
        {% endif %}
        {% endfor %}
        {% endif %}
      </div>


{# New movement tab #}
      <div role="tabpanel" class="tab-pane" id="createMovement">
        {{ form_open() }}
        {{ formPortfolioMovement.formRender()|raw }}

        <div class="form-buttons">
          <div class="loading-indicator-container">
              <button
                  type="submit"
                  data-request="onCreateMovement"
                  class="btn btn-primary">
                  {{ 'Save'|trans_label }}
              </button>
              <a href="{{ __SELF__.portfolioListPage |page }}" class="text-danger">
                {{'Cancel'|trans_label}}
              </a>
          </div>
        </div>
        {{ form_close() }}
      </div>





{# Closing div for tabs #}

    </div>