<div class="container">
  <div id="flashMessage">
    {% partial __SELF__ ~ '::flash' %}
  </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Portfolios of {% if user %} {{ user.name }} {% else %} guests {% endif %}




          <button id="closedPortfolioDisplay" class="btn btn-xs pull-right col-md-offset-1" type="button"
            data-request="{{ __SELF__}}::onRefresh"
            data-request-data="include_closed: true"
            data-request-update="'{{ __SELF__ }}::portfolioList': '#portfolioList'"
            data-request-success="$('#closedPortfolioHide').removeClass('hidden');
                                  $('#closedPortfolioDisplay').addClass('hidden');
                                  smmmDisplayMessage('Closed portfolios are now displayed', 'info');"
          >
            Display closed portfolios
          </button>
          <button id="closedPortfolioHide" class="btn btn-xs pull-right hidden col-md-offset-1" type="button"
            data-request="{{ __SELF__}}::onRefresh"
            data-request-data="include_closed: false"
            data-request-update="'{{ __SELF__ }}::portfolioList': '#portfolioList'"
            data-request-success="$('#closedPortfolioDisplay').removeClass('hidden');
                                  $('#closedPortfolioHide').addClass('hidden');
                                  smmmDisplayMessage('Closed portfolios have been hidden', 'info');"
          >
            Hide closed portfolios
          </button>

          <a href="{{ __SELF__.portfolioDetails|page({portfolio_id: -1, action: 'create' }) }}" class="btn btn-xs pull-right btn-default" >
            New
          </a>
        </h3>
      </div>


<!-- Portfolios list -->
      <table class="table table-striped" id="portfolioList">
        {% partial __SELF__ ~ '::portfolioList' %}
      </table>
    </div>
  </form>
</div>