        <tbody>
        {% if __SELF__.portfolioList.count == 0 %}
          <tr>
            <th>
              {{ 'piratmac.smmm::lang.messages.no_portfolio'|trans }}
            </th>
          </tr>
        {% else %}
        {% for portfolio in __SELF__.portfolioList %}
        {% if loop.first %}

          <tr>
            <th>{{ 'description'|trans_label }}</th>
            <th>{{ 'opened_on'|trans_label }}</th>
            <th>{{ 'closed_on'|trans_label }}</th>

            <th></th>
          </tr>
          {% endif %}
          <tr>
            <td><a href="{{ portfolio.url_view }}">{{ portfolio.description }}</a></td>
            <td>{{ portfolio.open_date }}</td>
            <td>{{ portfolio.close_date }}</td>
            <td style="padding:6px">
              <a href="{{ portfolio.url_view }}">
                <img src="{{ (__SELF__.imageFolder ~ '/magnifyingglass.png')|app}}" alt="{{ 'details'|trans_label }}" class="image_circle" width="25px" height="25x" />
              </a>
              <a href="{{ portfolio.url_update }}">
                <img src="{{ (__SELF__.imageFolder ~ '/compose.png')|app}}" alt="{{ 'manage'|trans_label }}" class="image_circle" width="25px" height="25x" />
              </a>
            </td>
          </tr>
        {% if loop.last %}
        </tbody>
        {% endif %}
        {% endfor %}
        {% endif %}